<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://w3css.blueobsidian.repl.co/w3css/w3.css">
    <title>Hello</title>
</head>
<style>
    body{
        background-color: blueviolet;
    }
 
</style>
<body>
    <br>
    <br>
    <br>
    <center class="w3-container w3-card-4"><h1>Welcome To <%= name%>
    </h1>
    <h2>Thank You For Using Bluehost</h2>
    <h2>This Server is running on Port <%=port%></h2>
    <h2>This Project is in <%=mode%> Mode </h2>
    <p>You Will See Errors On Your Homepage</p>
<form action="/" method="post"> <button class="w3-btn w3-teal">Click Here</button></form>
</center>
   <div class="w3-container">
        <p>Your Using The Bluehost Package</p>
        <pre>
              To Change This Go To your config.json file and add "/?" to your urls
          </pre>

   </div>
 
</body>
</html>