<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f1f1f1;
        }

        .login-form {
            max-width: 500px;
            margin: auto;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            padding: 30px;
        }

        .login-form h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        .login-form label {
            display: block;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .login-form input[type="text"],
        .login-form input[type="password"] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .login-form input[type="submit"] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .login-form input[type="submit"]:hover {
            background-color: #45a049;
        }
        .error-message {
  color: red;
  font-size: 14px;
  margin: 20px 0;
}

    </style>
<%- include('partials/links') %>

</head>

<body>
   
 
        <%- include('partials/messages') %>
        <form action="/user/login" method="post">
                <h1>Login</h1>
            <label for="username">Email</label><br>
            <input type="text" id="username" name="email"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>