<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Document</title>
</head>
<body>
    <style>.dashboard {
  display: flex;
  width: 100%;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.sidebar {
  background-color: #f1f1f1;
  width: 25%;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  display: block;
  color: #000;
  text-decoration: none;
}

.sidebar a:hover {
  color: #333;
}

.content {
  width: 75%;
  padding: 20px;
}
</style>
<div class="dashboard">
    
  
</body>
</html>