<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" href="https://w3css.blueobsidian.repl.co/w3css/w3.css">
    <title>Document</title>
<style>
    .dashboard{
        margin-top: 20px;
    }
    body{
        background-color: #F2F2F2 ;
    }
    .top{
        background-color: #5039E5 ;
        color: white;
    }
    .w3 a {
        margin-left: 40px;
        margin-right: 40px;
    }
    ul{
        list-style-type: none;
    }
</style>
</head>

<body>
<nav class="w3-navbar w3-card-2 w3-black w3-large">
    <h1 class="w3-left w3-text-blue"> &nbsp;BlueHost</h1>
    <ul class="w3-right">

        <div class="w3">

            <li><a class="w3-blue w3-hover-deep-orange" href="/docs">Docs</a></li>
            <li><a class="w3-blue w3-hover-deep-orange" href="/user/logout">Logout</a></li>
        </div>

    </ul>
</nav>
</div>
  
</body>
</html>